// Colors
:root {
/* General Backgrounds */
  --color-background: #000000; /* deep charcoal black */
  --color-code-background: #4a4d52; /* dark slate gray */
  --color-header-background: #000000b0; /* very dark grey */
  --color-footer-background: #000000; /* almost black */
  --color-mobile-nav-background: #242424; /* deep, muted blue-grey */
  --color-wrap: #242424; /* slightly lighter dark gray */

  /* Hack The Box Inspired Color Palette for Non-Red Colors */
  /* Parchment White Color Palette */
  --red-0: #f0f2f4; /* light parchment white with subtle undertones */
  --red-1: #d9d6d1; /* warm, soft light beige */
  --red-2: #fff; /* muted, warm tan */
  --red-3: #5c4e34; /* deep parchment beige */
  --red-4: #9e8e75; /* medium dark beige */
  --red-5: #7d6f52; /* dark beige with a hint of brown */
  --red-6: #5c4e34; /* rich, warm brown */

  /* Greys */
  --grey-9: #e8e5d8; /* pale, warm grey */
  --grey-7: #fff; /* dark grey */
  --grey-5: #4a4a4a; /* balanced charcoal */
  --grey-3: #6f6f6f; /* medium grey */
  --grey-1: #b2b2b2; /* light grey */

  /* Accents */
  --color-default: #FFF; /* soft, warm cream */
  --color-link: #ffffff; /* muted, professional blue */
  --color-h2-border: #4a4a4a; /* standard border */
  --color-h2-after: #f2b5d4; /* subtle pinkish accent */
  --color-h2-after-shadow: rgba(125, 110, 85, 0.3); /* soft shadow */

  /* Highlights */
  --highlight-background: #000000; /* dark, neutral highlight */
  --highlight-current-line: #383c42; /* darker parchment */
  --highlight-selection: #5b6b72; /* deep sea green */
  --highlight-comment: #848689; /* light grey-green */
  --highlight-red: #a94454; /* muted red */
  --highlight-orange: #e8a95e; /* warm amber */
  --highlight-yellow: #d7c88f; /* soft yellow gold */
  --highlight-green: #5f8c6e; /* dark olive green */
  --highlight-aqua: #4d6d71; /* muted teal */
  --highlight-blue: #8a9eaa; /* slate blue */
  --highlight-purple: #7b6c81; /* muted plum */
  --codeblock-text: #f42f2e; /* red code text */

  /* Cursor Styles */
  --cursor-default: url(../images/cursor/Red-Arrow.png), auto;
  --cursor-pointer: url(../images/cursor/Red-Link.png), pointer;
  --cursor-text: url(../images/cursor/Red-Text.png), text;
  --cursor-help: url(../images/cursor/Red-Help.cur), help;
  --cursor-working: url(../images/cursor/Red-Working.ani), wait;
  --cursor-busy: url(../images/cursor/Red-Busy.ani), progress;
  --cursor-unavailable: url(../images/cursor/Red-Unavailable.png), not-allowed;
  --cursor-vertical: url(../images/cursor/Red-Vertical.png), ns-resize;
  --cursor-horizontal: url(../images/cursor/Red-Horizontal.png), ew-resize;
  --cursor-diagonal-ne-sw: url(../images/cursor/Red-NE_SW.png), nesw-resize;
  --cursor-diagonal-nw-se: url(../images/cursor/Red-NW_SE.png), nwse-resize;
  --cursor-cross: url(../images/cursor/Red-Cross.png), crosshair;
}

[data-theme="dark"] {
  &:root {
    --red-0: #ff5252;
    --red-1: #ff5252;
    --red-2: #ff7c7c;
    --red-3: #ffafaf;
    --red-4: rgba(255, 208, 208, 0.5);
    --red-5: rgba(255, 228, 228, 0.2);
    --red-5-5: rgba(255, 236, 236, 0.1);
    --red-6: rgba(255, 243, 243, 0.2);

    --grey-9: #999;
    --grey-7: #777;

    --color-archive-year: #999;
    --color-default: #999;
    --color-border: var(--red-5);
    --color-link: var(--red-1);
    --color-background: #21252b;
    --color-code-background: rgba(232, 232, 232, 0.1);
    --color-header-background: #222222;
    --color-footer-background: #21252b;
    --color-mobile-nav-background: #21252b;
    --color-wrap: #272b30;
    --color-sticky: #ffecec;

    --color-h2-border: #47474a;
    --color-meta-shadow: rgba(0, 0, 0, 0.2);
    --color-hover-shadow: rgba(0, 0, 0, 0.2);
    --color-h2-after: #ff5252;
    --color-h2-after-shadow: rgba(255, 78, 106, 0.7);

    --highlight-nav: #2e353f;
    --highlight-scrollbar: #454d59;
    --highlight-background: #000000; /* dark, neutral highlight */
    --highlight-current-line: #393939;
    --highlight-selection: #515151;
    --highlight-foreground: #cccccc;
    --highlight-comment: #999999;
    --highlight-red: #f47067;
    --highlight-orange: #f69d50;
    --highlight-yellow: #ffcc66;
    --highlight-green: #99cc99;
    --highlight-aqua: #66cccc;
    --highlight-blue: #54b6ff;
    --highlight-purple: #dcbdfb;
    --highlight-red: #a94454; /* muted red */
    --codeblock-text: #f42f2e; /* red code text */
  }

  img {
    filter: brightness(70%);
  }

  // 排除 lightbox
  .pswp__img {
    opacity: 1;
    filter: none;
    animation: none;
  }

  img.lazyloaded {
    opacity: 1;
    animation: blur-darken 0.8s ease-in-out forwards;
  }
}

// Fonts
$font-basic: $basic-families, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
$font-code: $code-families, Menlo, Monaco, Consolas, monospace;

$font-size: 14px;
$line-height: 1.8em;
$line-height-title: 1.2em;

// Header
$logo-size: 40px;
$subtitle-size: 18px;
$banner-height: 35vh;

// Layout
$block-margin: 50px;
$article-padding: 20px;
$mobile-nav-width: 280px;

// Media queries
$mq-mobile: "screen and (max-width: 479px)";
$no-mobile: "screen and (min-width: 480px)";
$mq-tablet: "screen and (min-width: 480px) and (max-width: 767px)";
$mq-normal: "screen and (min-width: 768px)";
$mg-normal: "screen and (max-width: 767px)";
$mq-large: "screen and (min-width: 960px)";
$mg-large: "screen and (max-width: 959px)";

$post-radius: 5px;
